// @import "../../../packages/web/packages/iconfonts/iconfont.css";    /* 导入PCcss文件 */

/* 自定义的iconfont的样式 */
[class^='sc-icon-'],
[class*=' sc-icon-'] {
  font-family: 'iconfont' !important;
  // font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  &.green {
    color: #51b6b0;
  }
  &.green1 {
    color: #86d3a5;
  }
  &.green2 {
    color: #60bcb7;
  }
  &.red {
    color: #ff5050;
  }
  &.gray {
    color: #ccc;
  }
  &.yellow {
    color: #eca845;
  }
  &.white {
    color: #fff;
  }

  &.fs-16 {
    font-size: 16px;
  }
  &.mr-5 {
    margin-right: 5px;
  }
  &.mr-10 {
    margin-right: 10px;
  }
}

.el-button [class*='sc-icon-'] + span {
  margin-left: 5px;
}

.demo-icon .source > div > i {
  color: #606266;
  margin: 0 20px;
  font-size: 1.5em;
  vertical-align: middle;
}

.demo-icon .source button {
  margin: 0 20px;
}

ul.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0 !important;
  border: solid 1px #eaeefb;
  border-radius: 4px;
}
.icon-list li {
  float: left;
  width: 16.66%;
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: #666;
  font-size: 13px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-right: -1px;
  margin-bottom: -1px;

  &::after {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', SimSun, sans-serif;
    color: #99a9bf;
    transition: color 0.15s linear;
  }

  i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: #606266;
    transition: color 0.15s linear;
  }

  .icon-name {
    display: inline-block;
    padding: 0 3px;
    height: 1em;
  }

  &:hover {
    span,
    i {
      color: #51b6b0;
    }
  }
}
